.App {
  position: relative;
  width: 100vw;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

button {
  background-color: #00be00;
  font-size: 14px;
  padding: 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition-duration: 0.4s;
  border: 2px solid #00be00;
}

button:hover {
  background-color: #004400;
  color: #FFF;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
}

.form-container {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem;
}

.name-input,
.bet-input {
  width: 50%;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 14px;
}

.modal {
  margin-top: 2rem;
}

.bet-container {
  position: relative;
  padding: 3rem;
  width: 25%;
}

.column-titles {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.name {
  padding-right: 3rem;
}

.bet-table {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
