.bet-container {
    position: relative;
    padding: 3rem;
    width: 25vw;
}

.bet-entry {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.name {
    padding-right: 3rem;
}